.votingWrapper {
  width: 680px;
  display: flex;
  gap: 10px;
}

.links {
  display: flex;
  gap: 10px;
}

.form {
  position: relative;
}
.input {
  width: 470px;
  height: 60px;
  padding-left: 20px;
  /* padding-top: 15px;
  padding-bottom: 15px; */
  color: #8c8c8c;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  border-radius: 20px;
  background: #fff;
  border: none;
}

.buttonInput {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background: #fbe0dc;
  border: none;
}

.link .svgLink {
  width: 60px;
  height: 60px;
  border-radius: 20px;
  background-color: #fff;
  border: none;
  padding: 15px;
}

.active .svgLink {
  width: 60px;
  height: 60px;
  border-radius: 20px;
  background-color: #ff868e;
  border: none;
  padding: 15px;
}

.active svg {  
  fill: white;
}
.link svg {  
  fill: #ff868e;
}

