.menuButton {
  position: relative;
  z-index: 0;
  width: 240px;
  height: 40px;
  border-radius: 10px;
  background-color: white;
  color: #1d1d1d;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
  padding-left: 10px;
  text-align: left;
  border: none;
}

.menuButton:hover {
  border: 2px solid #fbe0dc;
}

.itemsMenuOpen {
  z-index: 777;
  position: absolute;
  top: 0px;
  width: 164px;
  height: 164px;
  border-radius: 30px;
  background-color: #fff;
  color: #8c8c8c;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
  overflow: auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.itemsMenu {
  height: 0;
  overflow: hidden;
}

.menuWrapper {
  position: relative;
}

[data-theme='dark'] .menuButton {
  background-color: #ffffff0d;
  color: white;
}

[data-theme='dark'] .menuButton:hover {
  border: 2px solid #ff868e33;
}

[data-theme='dark'] .itemsMenuOpen {
  background-color: #1d1d1d;
  color: white;
}
