.voting {
  width: 775px;
  height: 100vh;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 18px;
}

.votingMain {
  margin-top: 10px;
  border-radius: 20px;
  background: #fff;
  width: 680px;
  height: 782px;
  padding: 20px;
}

.votingMainWrapper {
  display: flex;
  gap: 10px;
}

.buttonArrow {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: #fbe0dc;
  border: none;
}

.title {
  width: 146px;
  height: 40px;
  text-transform: uppercase;
  border-radius: 10px;
  background-color: #ff868e;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px; /* 150% */
  letter-spacing: 2px;
  padding-top: 5px;
}

.imagePat {
  height: 360px;
  width: auto;
  margin-top: 20px;
  border-radius: 20px;
}
