.sidebar {
  position: fixed;
  width: 665px;
  height: 100vh;
  padding-left: 147px;
}

.sidebarWrapper {
  margin-top: 80px;
}

.title {
  color: #1d1d1d;
  font-size: 44px;
  font-weight: 500;
  line-height: 58px; /* 131.818% */
}

.text {
  margin-top: 10px;
  color: #8c8c8c;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}

.subtitle {
  margin-top: 60px;
  color: #1d1d1d;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
}

.nav {
  display: flex;
  gap: 16px;
  margin-top: 20px;
}

.sidebarButton {
  border: none;
  background-color: transparent;
}

.vote {
  width: 138px;
  height: 198px;
  background-color: #b4b7ff;
  border-radius: 20px;
  border: 4px solid rgba(255, 255, 255, 0.6);
}

.voteImage {
  margin: 33px auto;
}

.buttonText {
  color: #ff868e;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
  letter-spacing: 2px;
  text-transform: uppercase;
}

.textWrapper {
  border-radius: 10px;
  background-color: #fff;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.breeds {
  width: 138px;
  height: 198px;
  background-color: #97eab9;
  border-radius: 20px;
  border: 4px solid rgba(255, 255, 255, 0.6);
}

.breedsImage {
  margin: 13px auto;
}

.gallery {
  width: 138px;
  height: 198px;
  background-color: #ffd280;
  border-radius: 20px;
  border: 4px solid rgba(255, 255, 255, 0.6);
}

.galleryImage {
  margin: 0 auto;
}

.active .textWrapper {
  background-color: #ff868e;
}

.active .buttonText {
  color: white;
}

.active .vote,
.active .breeds,
.active .gallery {
  border: 4px solid #fbe0dc;
}

.link:hover .textWrapper {
  background-color: #fbe0dc;
}

.link:hover .vote,
.link:hover .breeds,
.link:hover .gallery {
  border: 4px solid #fff;
}
